<div class="bg-white full-screen py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-8 lg:text-3xl"><%= t('.title') %></h2>

    <%= form_with model: @tourist_spot, url: admin_tourist_spots_path, method: :post, local: true, class: "mx-auto max-w-lg rounded-lg border h-full flex flex-col justify-center" do |f| %>
      <div class="flex flex-col gap-4 p-4 md:p-8">
        <div>
          <%= f.label :name, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.text_field :name, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>

        <div>
          <%= f.label :text, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.text_area :text, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>

        <div>
          <%= f.label :address, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.text_field :address, class: "w-full rounded border bg-gray-50 px-3 py-2 text-gray-800 outline-none ring-indigo-300 transition duration-100 focus:ring" %>
        </div>

        <div>
          <%= f.label :spot_image, class: "mb-2 inline-block text-sm text-gray-800 sm:text-base" %>
          <%= f.file_field :spot_image, id: 'spot_image' %>
        </div>
      
        <%= f.submit t('defaults.create'), class: "block rounded-lg bg-gray-800 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-gray-300 transition duration-100 hover:bg-gray-700 focus-visible:ring active:bg-gray-600 md:text-base" %>
      </div>
    <% end %>
  </div>
</div>
