<div class="main_image">
  <div class="image-container">
    <%= image_tag "top_image.png", class: "fullscreen-image active" %>
  </div>
  <div class="items-center text-center pt-20 pb-10">
    <p class="text-4xl text-default text-gray-700">使い方</p>
    <p class="text-2xl pt-10 text-default text-gray-700">Travel Model Courseはあなたのオススメの町の観光スポットやあなたの知っている穴場スポットから</p>
    <p class="text-2xl pt-10 text-default text-gray-700">1日観光モデルコースを作成し共有するサービスです</p>
    <p class="text-2xl pt-10 text-default text-gray-700">もちろん観光だけでなくリモートワークにオススメな穴場スポットやランチスポットなど</p>
    <p class="text-2xl pt-10 text-default text-gray-700">穴場スポットであれば、どんなコンセプトでも投稿できます！</p>
  </div>
  <div class="mt-8"></div>
  <section class="overflow-hidden justify-center">
    <div class="container px-5 py-16 mx-auto">
      <div class="flex flex-wrap justify-center items-center">
        <div class="text-center lg:text-left lg:w-1/2 lg:pr-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm tracking-widest"></h2>
          <h1 class="text-2xl lg:text-4xl mt-5 mb-10 text-gray-800">Step1</h1>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">オススメのモデルコースを作成するために王道スポットを</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">観光地一覧からMyリストに追加しよう</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">王道スポットは任意選択なので穴場スポットだけで</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">モデルコースを作成する場合はStep2から始めよう</p>
        </div>
        <div class="text-center lg:text-right lg:w-1/2 lg:py-6 mt-6 lg:mt-0">
          <%= image_tag "top1.png", alt: "ecommerce", class: "object-cover inline-block rounded", width: "600", height: "800" %>
        </div>
      </div>
    </div>
  </section>
  <div style="margin-top: 4rem;"></div>
  <section class="overflow-hidden justify-center">
    <div class="container px-5 py-16 mx-auto">
      <div class="flex flex-wrap justify-center items-center">
        <div class="text-center lg:text-left lg:w-1/2 lg:pr-10 lg:py-6 mt-6 lg:mt-0">
          <%= image_tag "top2.png", alt: "ecommerce", class: "object-cover inline-block rounded", width: "600", height: "800" %>
        </div>
        <div class="text-center lg:text-left lg:w-1/2 lg:pl-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm tracking-widest"></h2>
          <h1 class="text-2xl lg:text-4xl mt-5 mb-10 text-gray-800">Step2</h1>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">あなたの知っている穴場スポットをMy穴場スポットに追加</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">Step1と同様にMyリストに登録しよう</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">モデルコースを作成するには穴場スポットが1つ以上必要になります</p>
        </div>
      </div>
    </div>
  </section>
  <div style="margin-top: 4rem;"></div>
  <section class="overflow-hidden justify-center">
    <div class="container px-5 py-16 mx-auto">
      <div class="flex flex-wrap justify-center items-center">
        <div class="text-center lg:text-left lg:w-1/2 lg:pr-10 lg:py-6 mt-6 lg:mt-0">
          <h2 class="text-sm tracking-widest"></h2>
          <h1 class="text-2xl lg:text-4xl mt-5 mb-10 text-gray-800">Step3</h1>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">Myリストにスポットを入れたらドラックアンドドロップで順路を決定</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">スポットごとの移動手段と観光時間を設定して次の画面で</p>
          <p class="leading-relaxed text-lg lg:text-2xl text-gray-800">モデルコース名を入れたら投稿完了！</p>
        </div>
        <div class="text-center lg:text-right lg:w-1/2 lg:py-6 mt-6 lg:mt-0">
          <%= image_tag "top3.png", alt: "ecommerce", class: "object-cover inline-block rounded", width: "600", height: "800" %>
        </div>
      </div>
    </div>
  </section>
  <div style="margin-top: 8rem;"></div>
  <div class="text-center">
    <%= link_to t('.see_tourist_spot'), tourist_spots_path,  class: "btn btn-accent mt-4 mx-auto" %>&ensp;
    <%= link_to t('defaults.user_new'), new_user_path, class: "btn btn-accent mt-4 mx-auto" %>
  </div>
  <div style="margin-top: 8rem;"></div>
</div>
