<%= stylesheet_link_tag 'count', media: 'all', 'data-turbolinks-track': 'reload' %>

<header class="header bg-custom-1">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center py-2">
    <%= link_to image_tag('logo.png'), root_path, class: "logo py-2" %>
    <div class="ml-auto flex items-center">
      <div class="dropdown dropdown-hover ml-1">
      <% if logged_in? || session[:user_id].present? %>
      <%= turbo_frame_tag "total-spot-items-frame" do %>
        <div class="relative" style="display: inline-block;">
        <%= link_to t('.my_list'), total_spot_items_path, data: { turbo: false, action: 'click->showCommentBubble' }, class: "btn btn-accent mt-4" %>
        <div id="comment-bubble" style="display: none;">
           スポットをリストに追加しました
        </div>
          <span id="total-spot-items-count-badge" class="bg-red-500 text-white rounded-full px-1 py-1 text-xs absolute top-0 right-0 -mt-2 -mr-2" style="display: none;"></span>
        </div>
      <% end %>
        <%= link_to t('.tourist_spot'), tourist_spots_path, class: "btn btn-accent mt-4" %>
        <%= link_to t('.recommended_spot'), recommended_spots_path, class: "btn btn-accent mt-4" %>
        <%= link_to t('.model_course'), model_courses_path, class: "btn btn-accent mt-4" %>
      </div>
    </div>
        <div class="dropdown dropdown-hover dropdown-end ml-1 mr-4">
          <div class="btn" style="background-color: transparent; border: none;">
            <div class="avatar">
              <div class="w-16 h-16 rounded-full overflow-hidden">
                <% if current_user.present? %>
                  <%= image_tag current_user.avatar.url, class: "w-full h-full object-cover" %>
                <% end %>
              </div>
            </div>
          </div>
          <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 bg-white">
            <%= link_to (t "profiles.show.title"), profile_path, class: "btn btn-outline btn-accent bg-white mx-1" %>
            <%= link_to t('defaults.logout'), logout_path, data: { turbo_method: :delete }, class: "btn btn-outline btn-accent bg-white mx-1" %>
          </ul>
        </div>
      <% else %>
        <%= link_to t('defaults.login'), login_path, class: "btn btn-accent mt-4" %>
        <%= link_to t('defaults.user_new'), new_user_path, class: "btn btn-accent mt-4" %>
      <% end %>
    </div>
  </div>
</header>

<div class="border-t border-neutral"></div>
