<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
    </div>

    <%= link_to t('.see_my_list'), total_spot_items_path, data: { turbo: false }, class: "btn btn-accent mt-4" %>
    <%= link_to t('.see_tourist_spot'), tourist_spots_path, data: { turbo: false }, class: "btn btn-accent mt-4" %>
    <%= link_to t('.new_recommended_spot'), new_recommended_spot_path, data: { turbo: false }, class: "btn btn-accent mt-4" %>

    <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
      <% @recommended_spots.each do |recommended_spot| %>
        <div class="flex flex-col overflow-hidden rounded-lg border bg-white">
          <a href="#" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
            <%= image_tag(recommended_spot.img.url, class: "absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110") if recommended_spot.img.present? %>
            <%= image_tag("sample.jpg", class: "absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110") unless recommended_spot.img.present? %>
          </a>

          <div class="flex flex-1 flex-col p-4 sm:p-6">
            <h2 class="mb-2 text-lg font-semibold text-gray-800">
              <a class="link link-accent transition duration-100 hover:text-accent active:text-indigo-600 cursor-pointer"><%= recommended_spot.name %></a>
            </h2>

            <p class="mb-4 text-gray-500"><%= truncate(recommended_spot.text, length: 30, omission: '…') %></p>


            <div class="mt-auto flex items-end justify-between">
              <div class="flex items-center gap-2">
                <% prefecture = recommended_spot.address.match(/([北東名][都道府県]|.{2,3}[都道府県])/)&.captures&.first %>
                <% if prefecture %>
                  <p class="mb-2 text-indigo-500"><%= prefecture %></p>
                <% end %>
              </div>

              <%= form_with model: TotalSpotItem.new, url: total_spot_items_path, data: { turbo: false } do |f| %>
                <%= f.hidden_field :recommended_spot_id, value: recommended_spot.id %>
                <%= f.submit t('.add_to_list'), class: "btn btn-accent btn-sm text-white" %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="flex justify-center mt-4">
      <%= paginate @recommended_spots %>
    </div>
  </div>
</div>
