<%= stylesheet_link_tag 'custom', media: 'all', 'data-turbolinks-track': 'reload' %>

<% content_for(:title, t('.title')) %>
<div class="py-6 sm:py-8 lg:py-12">
  <div class="mx-auto max-w-screen-2xl px-4 md:px-8">
    <div class="mb-10 md:mb-16" style="margin-top: 20px;">
      <h2 class="mb-4 text-center text-2xl font-bold text-gray-800 md:mb-6 lg:text-3xl"><%= t('.title') %></h2>
    </div>

    <div class="flex justify-center">
      <%= search_form_for @q, url: model_courses_path, method: :get, id: 'search-form', class: "flex items-center" do |f| %>
        <%= f.select :prefecture_eq, ModelCourse.prefectures, { include_blank: "都道府県を選択" }, { class: "px-4 py-2 border rounded-md" } %>
        <%= f.select :vehicle_eq, options_for_select(ModelCourse.vehicles_i18n.map { |key, value| [value, key] }, params[:q]&.dig(:vehicle_eq)), { include_blank: "移動手段を選択" }, { class: "px-4 py-2 border rounded-md" } %>
        <%= f.submit "検索", class: "btn btn-accent ml-2" %>
      <% end %>
    </div>
  
    <div class="flex justify-center">  
      <% if @no_results %>
        <p class="text-gray-500">検索結果がありません</p>
      <% end %>
    </div>

    <div class="mt-8"></div>

    <div class="grid gap-4 sm:grid-cols-2 md:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8">
      <% @model_courses.each do |model_course| %>
        <div class="flex flex-col overflow-hidden rounded-lg border bg-white">
        <% spot_items = JSON.parse(model_course.spot_item_data) %>
        <% recommended_spot_ids = spot_items.map { |spot_item| spot_item['recommended_spot_id'] }.compact %>
        <% if recommended_spot_ids.any? %>
          <% min_recommended_spot_id = recommended_spot_ids.min %>
          <% recommended_spot = RecommendedSpot.find_by(id: min_recommended_spot_id) %>
          <% if recommended_spot && recommended_spot.img.present? %>
            <% image_url = recommended_spot.img.url %>
          <% else %>
            <% image_url = asset_path("sample.jpg") %>
          <% end %>
          <a href="#" class="group relative block h-48 overflow-hidden bg-gray-100 md:h-64">
            <%= image_tag(image_url, class: "absolute inset-0 h-full w-full object-cover object-center transition duration-200 group-hover:scale-110") %>
          </a>
        <% end %>
  
          <div class="flex flex-1 flex-col p-4 sm:p-6">
            <div class="flex items-center justify-between mb-2">
              <h2 class="mb-2 text-lg font-semibold text-gray-800">
                <%= link_to model_course_path(model_course), class: "link link-accent transition duration-100 hover:text-accent active:text-indigo-600 cursor-pointer" do %>
                  <%= truncate(model_course.name, length: 30, omission: '...') %>
                <% end %>
              </h2>
            </div>

            <div class="flex justify-between items-center">
              <span class="text-gray-600">投稿者: <%= model_course.user.name %></span>
            
            <% if current_user == model_course.user %>
              <div class="flex items-center gap-2">
                <%= link_to t('defaults.edit'), edit_model_course_path(model_course), class: 'px-4 py-2 text-sm font-semibold text-white bg-blue-500 rounded hover:bg-blue-600' %>
                <%= link_to t('defaults.delete'), model_course_path(model_course), data: { turbo_method: :delete, "turbo-confirm": (t 'defaults.destroy?') }, class: 'px-4 py-2 text-sm font-semibold text-white bg-red-500 rounded hover:bg-red-600' %>
              </div>
            <% end %>
           </div>

            <div class="mt-8"></div>
            <div class="mt-auto flex items-end justify-between">
              <div class="flex items-center gap-2">
              <% if model_course.prefecture.present? %>
                <span class="text-indigo-500"><%= model_course.prefecture %></span>
              <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <div class="mt-8"></div>
    <div class="flex justify-center mt-4">
      <%= paginate @model_courses %>
    </div>
  </div>
</div>
